--- Checks: 'bugprone-*,
 cert-*,
clang-analyzer-core.*,
concurrency-*,
cppcoreguidelines-*,
hicpp-*,
misc-*,
modernize-*,
performance-*,
portability-*,
readability-*,
-readability-implicit-bool-conversion,
-cppcoreguidelines-pro-type-cstyle-cast,
-readability-magic-numbers,
-cppcoreguidelines-avoid-magic-numbers,
-performance-no-int-to-ptr,
-readability-identifier-length,
-clang-diagnostic-pragma-once-outside-header'